10-hisat-deseq2/GCF*
10-hisat-deseq2/*sam
10-hisat-deseq2/*bam
10-hisat-deseq2/*bam*
10-hisat-deseq2
03-hisat2
12-fix-gff
13-hisat-deseq2
15-hisat2-deseq2-summer2022/*sam
15-hisat2-deseq2-summer2022/*bam
15-hisat2-deseq2-summer2022/*bam*
15-hisat2-deseq2-summer2022/*gtf
15-hisat2-deseq2-summer2022/*-hisat.out
17-kallisto-2021-2022
20-hisat2/*sam
20-hisat2/*bam
20-hisat2/*gtf
20-hisat2/*sorted.bam.bai
20-hisat2/*hisat.out
20-hisat2/2022/*sam
20-hisat2/2022/*bam
20-hisat2/2022/*gtf
20-hisat2/2022/*sorted.bam.bai
20-hisat2/2022/*hisat.out
