augustus.hints.gtf
ncbi*
inter*
augustus.hints.gff
Phel_genome_index*
Phel_transcriptome.fasta
2021_trimmed
uniprot_sprot_r2023_04.fasta
uniprot_sprot_r2023_04.fasta.gz
augustus.hints.codingseq
blast_dbs
2022_trimmed
